

/* Styles généraux */
.container {
    margin: 0;
    padding: 0;
}
.prenom{
    color: #FF0101;
}

.container .container {
    display: flex;
    flex-wrap: wrap;
}

.container-groupe {
    width: calc(80% - 30px);
    margin-right: 30px;
    padding: 0;
    box-sizing: border-box;
}

.container-bottom {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}

.recharts-responsive-container {
    margin: 0;
    padding: 0;
}

.container-droit {
    margin: 0;
    padding: 0;
    width: 20%;
}

.activity-container {
    width: 100%;
    height: auto;
    margin-bottom:20px ;
    background-color:rgba(251, 251, 251, 1);
    border-radius: 5px;
}
.activity-title {
    display: flex;
    align-items: center;
    margin: 0 32px 24px 32px;
    justify-content: space-between;
    color: #74798C;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
}
.legend {
    display: flex;
    gap: 15px;
    margin-top: 10px;
  }
  
  .legend-item {
    display: flex;
    align-items: center;
  }
  .legend-color {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 5px;
  }
.activity-container h2 {
    color: #20253A;
    margin: 24px 35px;
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; 
}

.average-session-container h2 {
    font-size: 15px;
    margin: 0;
    opacity: 0.5;
    color: white;
    font-weight: 500;
    width: 80%;
}

.score-container h2 {
    font-size: 15px;
    margin: 0;
    font-weight: 500;
    width: 80%;
}

.average-session-container {
    background-color: red;
    height: 263px !important; 
    padding: 20px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.02);
    border-radius: 5px;
}

.performances-container {
    background: rgba(40, 45, 48, 1);
    height: 263px !important; 
    padding: 20px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.02);
    border-radius: 5px;
}

.score-container {
    background: rgba(251, 251, 251, 1);
    border-radius: 5px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.02);
    padding: 20px;
    height: 263px !important; 
}

/* Media query pour un écran en dessous de 1024px */
@media screen and (max-width: 1140px) {
    /*.container {
        padding: 10px;
    }*/
    .container-bottom {
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 5px;
    }
    .container-groupe {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .container-droit {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .activity-container {
        width: 100%; 
    }
    .average-session-container, 
    .performances-container, 
    .score-container {
        height: 210px !important;
    }
}
