:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  padding:0;
}
.links{
  display: flex;
  justify-content: space-around;
  margin:20px;
  width: 30%;
  
}
.links a{
  padding: 10px 30px;
  background-color: black;
  color: white;
  text-decoration: none;
  font-size: 20px;
  border: 2px solid red;
  border-radius: 10px;
}
header {
  height: 100px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo{
  width: 20%;
}
header nav {
  width: 80%;
  text-decoration: none;
}
header nav ul{
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
}
a {
  color: white; 
  text-decoration: none; 
  padding: 10px;
}

aside{
  background-color: black;
  width:100px;
  padding: 10px;
  color: white;
  display: flex;
  flex-wrap: wrap;
}

aside .icons-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  margin-top: 256px;
  margin-bottom: 120px;
}

aside .icons-container img{
margin: 20px 0;
width: 64px;
height: 64px;
}
main {
  position: absolute;
  left: 137px;
  right: 0;
  top: 100px;
}
.copyright{
  writing-mode: vertical-lr;
  text-orientation: mixed;
  transform: rotate(180deg);
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  color: white;
  margin: auto;
  margin-bottom: 55px;
}

/* taille d'ecran tablette */
@media screen and (max-width: 1024px) {
  header{
    width: 100vw;
  }
}
