:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
}

header{
  height: 100px;
  background-color: black;
  color:white;
  display: flex;
  justify-content: space-between;
}
header .logo{
  width: 20%;
}
header nav {
  width: 80%;
  text-decoration: none;
}
header nav ul{
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
}
a {
  color: white; 
  text-decoration: none; 
  padding: 10px;
}


aside{
  background-color: black;
  width:100px;
  height: 100vh;
  padding: 10px;
  color: white;
}
aside .icons-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
aside .icons-container img{
margin: 30px 0;
}
main{
  position: absolute;
  left: 150px;
  right: 0;
  top: 150px;

}

.links a{
  color: black;
}


